.dark {
    color: white;
}
#graph-controller  {
    text-align: center;
    padding: 7px 20px;
    background-color: transparent;
    
    border : 1px dotted grey;
    cursor:  pointer;
    margin-bottom: 30px;
    border-radius: 10px;
}
#graph-btns {
    gap: 5px;
    display: flex;
}